extends layout
block content
  h1= title
  p Welcome to Abhishek Dharamkar Ramesh#{title}
  button(type="button", class="btn btn-danger",onclick="moreClaps()") Press  me
  div(id = "target") Clap for me